body.homepage\.html {
    background: url(fruit-and-veg-muted.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#keyword-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

/*body.user\.html {
    background-size: cover;
    background: url(light_toast.png) center center;
    /*background-repeat: repeat;*/
}*/
body {
    color: black;
}

h1 {
    color: black;
    /*color: rgb(53, 83, 34);*/
}

#main-heading {
    color: rgb(53, 83, 34);
}

h2>a {
    /*color: rgb(79, 120, 59);*/
    color: rgb(53, 83, 34);
}

h4>a {
    color: rgb(79, 120, 59);
}

body {
    background-color: rgb(235, 238, 239);
}