.container-fluid {
    /*background-color: red;*/
    background-size: cover;
    /*background: url(seigaiha.png) center center;*/
    background: url(concrete_seamless.png) center center;

}
/*Colors:
#2CA3C1 - blue
#111C49 - dark blue
#CCCCCC - gray
#FFFFFF - white
#FFE460 - yellow
*/

#background-div {
    /*color: #FFE460;*/
}

h1 {
    color: #2CA3C1;
}

h2>a {
    color: #142572;
}

.navbar {
    background-color: #FFE460;
}
