{% extends 'base.html' %}
{% block content %}

<h2>Hello {{ user.username }}!</h2>

<a href="#starrings"><p id="starrings">Your starred recipes:</p></a>
<ul>

{% for recipe in user.recipes %}
<div class='recipe' id='div-{{ recipe.recipe_id }}'>
    <li class='recipe_name' id="{{ recipe.recipe_id }}">{{ recipe.recipe_name }}</li>
    <img src="{{ recipe.images[0].image_url }}" height="150" width="150">
</div>
{% endfor %}
</ul>


<a href="#hashtags"><p id="hashtags">Your Hashtags:</p></a>
<ul>
{% for hashtag in user.hashtags %}
    <!-- <li><a href="/users/{{ user.username }}/{{ hashtag.hashtag_name }}">{{ hashtag.hashtag_name }}</a></li> -->
    <li class="hashtag_bullet" data-hashtag-name="{{ hashtag.hashtag_name }}"
        data-username="{{ user.username }}" data-recipes-showing="false">
            {{ hashtag.hashtag_name }}
        </li>
    <div class="hashtag_list" id="{{ hashtag.hashtag_name }}"></div>
{% endfor %}
</ul>

{% endblock %}