{% extends 'base.html' %}
{% block content %}

<h2>Hello {{ user.username }}!</h2>

<p>Your starred recipes:</p>
<ul>
{% for recipe in user.recipes %}
    <li>{{ recipe.recipe_name }}
{% endfor %}
</ul>

<p>Your Hashtags:</p>
<ul>
{% for hashtag in user.hashtags %}
    <!-- <li><a href="/users/{{ user.username }}/{{ hashtag.hashtag_name }}">{{ hashtag.hashtag_name }}</a></li> -->
    <li class="hashtag_bullet" data-hashtag-name="{{ hashtag.hashtag_name }}"
        data-username="{{ user.username }}" data-recipes-showing="false">
            {{ hashtag.hashtag_name }}
        </li>
    <div class="hashtag_list" id="{{ hashtag.hashtag_name }}"></div>
{% endfor %}
</ul>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
  "use strict";

function showHashRecipes(results){
    // console.log(results);
    for (var hashtag in results) {
        var hashrecipes = results[hashtag];
        for (var recipe_name in hashrecipes) {
            var recipe = hashrecipes[recipe_name]
            console.log(hashtag);
            console.log(recipe_name);
            $('#' + hashtag).append("<h4>" + recipe_name + "</h4>");
            $('#' + hashtag).append("<p>Total time required: " + recipe["time"] + " minutes</p>");
            $('#' + hashtag).append("<p>Ingredients:</p>");
            for (var ingredient of recipe["ingredients"]) {
    //             // console.log(ingredient);
    //             // console.log(ingredient["ingredient_name"]);
                $('#' + hashtag).append("<p>" + ingredient["quantity"] + " " + ingredient["unit"] + " " + ingredient["ingredient_name"] + "</p>");
            $('#' + hashtag).append("<p>Instructions:</p>");
            $('#' + hashtag).append(recipe["steps"]);

            }

        }
    }
    
}

$.get('/user-hashtag-recipes.json', showHashRecipes);

</script>

{% endblock %}