{% extends 'base.html' %}
{% block content %}

<h2>Hello {{ user.username }}!</h2>

<p>Your starred recipes:</p>
<ul>
{% for recipe in user.recipes %}
    <li>{{ recipe.recipe_name }}
{% endfor %}
</ul>

<p>Your Hashtags:</p>
<ul>
{% for hashtag in user.hashtags %}
    <!-- <li><a href="/users/{{ user.username }}/{{ hashtag.hashtag_name }}">{{ hashtag.hashtag_name }}</a></li> -->
    <li class="hashtag_bullet" data-hashtag-name="{{ hashtag.hashtag_name }}"
        data-username="{{ user.username }}" data-recipes-showing="false">
            {{ hashtag.hashtag_name }}
        </li>
    <div class="hashtag_list" id="{{ hashtag.hashtag_name }}"></div>
{% endfor %}
</ul>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
  "use strict";

function showHashRecipes(results){
    // console.log(results["macaroni and cheese"])
    // console.log(results["macaroni and cheese"]["hashtag"])
    // console.log(results);
    //     for (var recipe in results) {
    //         var rec = results[recipe];
    //         // console.log(rec);
    //         var hashtag = rec["hashtag"];
    //         $('#' + hashtag).append("<h3>" + recipe + "</h3>");
    //         $('#' + hashtag).append("<p>Total time required: " + rec["time"] + " minutes</p>");
    //         $('#' + hashtag).append("<p>Ingredients:</p>");
    //         for (var ingredient of rec["ingredients"]) {
    //             // console.log(ingredient);
    //             // console.log(ingredient["ingredient_name"]);
    //             $('#' + hashtag).append("<p>" + ingredient["quantity"] + " " + ingredient["unit"] + " " + ingredient["ingredient_name"] + "</p>");
    //         }
    //         $('#' + hashtag).append("<p>Instructions:</p>");
    //         $('#' + hashtag).append(rec["steps"]);
    //     }
    // console.log(results);
    }

$.get('/user-hashtag-recipes.json', showHashRecipes);

// function getHashRecipes(evt){
//     // Do I need this next line?
//     // evt.preventDefault();
//     // var hashtag = $(this).data("hashtag-name")
//     // var username = $(this).data("username")
//     // var params = {"username": username, "hashtag": hashtag}
    
//     $.load('/user-hashtag-recipes.json', showHashRecipes);

//     // (this).data("recipes-showing")
// }
// $('.hashtag_bullet').on('click', getHashRecipes);

</script>

{% endblock %}